
.main-container {
    background-color: white;
    height: 100%;
 
}

.main-heading {
    font-size: 20px;
    font-weight: normal;
}


#customInputStyle{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f0f5f7;
}
.input-style-2 {
    display: flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f0f5f7;
    width: 900px;

}
#inputStyle2 {
    display: flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f0f5f7;
    width: 900px;

}

.last-name-style {
    margin:0px;
}

.Prefered-first-name {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    word-break:break-word;
    cursor:default;
    -webkit-tap-highlight-color: transparent;
}

.br-style {
    height: 1px;
    width: 100px;
    color: black;
}

.label-one {
    font-size: 17px;
    font-weight: 500;
}

.label-two {
    font-size: 16px;
}

.year-input {
    height: 36px;
}

.input-style-3 {
    width: 600px;
    display: flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f0f5f7;
}

.label-text{
   font-size: 14px;
    color: #696969;
}
