#inputStyle2 {
    display: flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f0f5f7;


}

.Date-aligns{
    margin-top: 10px;
    margin-bottom : 5px;
}

.Radio-section{
    display: flex;
    flex-direction: column;
}
.iconcircle{
    width: 100px;
}
.iconinfocircle{
    width: 50px;
}


.look-out-letters{
    background-color: #f0f5f7;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
   margin-bottom: 20px;
   margin-top: 20px;
}


.radio-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    margin: 6px;
}

.Reason.align{
    margin-top: 5px;
}


.label-one {
    font-size: 17px;





    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.worker-type-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
   
}
.Prefered-first-name {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    word-break:break-word;
    cursor:default;
    -webkit-tap-highlight-color: transparent;
}
.labels-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     /* align-items: start;  */
}