#inputStyle2 {
    display: flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f0f5f7;


}
.radio-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    margin: 10px;
}


.label-one {
    font-size: 17px;





    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.worker-type-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
   
}
.Prefered-first-name {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    word-break:break-word;
    cursor:default;
    -webkit-tap-highlight-color: transparent;
}
.labels-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     /* align-items: start;  */
}