.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
