.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.pepole-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


#inputTextPeople {
  width: 400px;
  margin-bottom: 10px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f0f5f7;
}

.nameSection {
  margin-bottom: 20px;
}

.nameAndicon {
    display: flex;
    justify-content: flex-start; 
}

.nameSpan {
    padding-top: 10px;
    padding-left: 10px;
}