.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#mai-container-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

}

#sub-container {
  display: flex;
  flex-direction: column;
}
#pepole-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.search-input{
  display: flex;
 }
 
#inputTextPeople {
  width: 700px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f0f5f7;
}


@media (min-width:250px) {
  #inputTextPeople {
    width: 250px;
  }
}

@media (min-width:456px) {
  #inputTextPeople {
    width: 300px;
    margin-bottom: 8px;
    
  }
}


@media (min-width:776px) {
  #inputTextPeople {
    width: 450px;
    margin-bottom: 10px;
  }
}
@media (min-width:996px) {
  #inputTextPeople {
    width: 650px;
    margin-bottom: 10px;
  }
}


.nameSection {
  margin-bottom: 20px;
}

.nameAndicon {
    display: flex;
    justify-content: flex-start; 
}

.nameSpan {
    padding-top: 10px;
    padding-left: 10px;
}