.btn2{
    border:none;
    padding:15px 32px;
    text-decoration: none;
    display: inline-block;
    color:rgb(19, 38, 73);
}
.btn2:hover {
    background-color:hsl(0, 13%, 88%);
    color:black;
  }
  
 .card1{
    padding-left:40px;
} 
.card2{
    padding-left:50px;
    padding-bottom:10px;
}
.side-by-side-form {
    display: flex;
    border-color: rgb(19, 38, 73);
    border-radius: 20px;
    flex-direction: row; /* Arrange fields horizontally */
    justify-content: space-between; /* Adjust as needed for spacing */
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .form-group {
    flex: 1; /* Distribute available space equally */
    margin-right: 10px; /* Adjust as needed for spacing between fields */
  }
  
  label {
    display: block; /* Display labels as blocks (one below the other) */
  }
  .form-fields{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid rgb(22, 13, 66);

  }
  .label-space{
   margin-bottom:10px;
  }
  .submit-btn
{
   margin-right:50px;
    color: white;
    background-color: #21417b;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;

}
.submit-outside{
    margin-left: 1100px;
    float:left;
}
.btn3{
    color:white;
    background-color:hsl(240, 49%, 26%);
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    border-radius:10px;

}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  background-color: white;
}
body {
  margin: 0px;
}

*{
  box-sizing: border-box;
}

#teamMemberSection {
    display: flex;
    justify-content: start;
    padding:30px;
    align-items: center;
    margin: 0px;
    padding-bottom: 0px;
    
}

.teamMemberSection-2 {
  display: flex;
  justify-content: start;
  padding-left: 30px;
  padding-top: 20px;
  
}



.teamMembername {
  color: #0d8269;
  font-weight: 500;
  margin: 0px;
}



.input-box-2 {
  margin: 0px;
}
.profile-section {
  margin-right: 15px;
  border: 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 10px;
}

.input-name-section {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-top: 0px;

}

.down-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.each_name {
  margin: 10px;
}