
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  background-color: white;
}
body {
  margin: 0px;
}

*{
  box-sizing: border-box;
}

#teamMemberSection {
    display: flex;
    justify-content: start;
    padding:30px;
    align-items: center;
    margin: 0px;
    padding-bottom: 0px;
    
}

.teamMemberSection-2 {
  display: flex;
  justify-content: start;
  padding-left: 30px;
  padding-top: 20px;
  
}



.teamMembername {
  color: #0d8269;
  font-weight: 500;
  margin: 0px;
}



.input-box-2 {
  margin: 0px;
}
.profile-section {
  margin-right: 15px;
  border: 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 10px;
}

.input-name-section {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-top: 0px;

}

.down-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.each_name {
  margin: 10px;
}

.sub-container {
  display: flex;
  justify-content: start;
  padding-right: 0px;
  margin-right: 0px;
  padding-top: 20px;

}
.sub-container-down-section {
  display: flex;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
   
}

.subContainerDownSection-main {
  display: flex;
  flex-direction: column;
}



#subContainerDownSection-2{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
#subContainerDownSection-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   padding-left: 50px; 
  align-items: center;
  
}

.department-p {
  margin-bottom: 5px;
}
.subContainerDownSection-4 {
  padding-right: 50px;
  display : flex;
  flex-direction: column;
  justify-content: flex-end;
}
.workerPhone {
  padding-left: 80px;
}
.spanel {
  padding-left: 30px;
}

p {
  color: #808080;
}

.color-p {
  color:#62b2b5;
  font-weight: 700;
 
}

.department-pp {
    padding-left: 30px;
}

.sub-section-container5{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.addname-p {
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 15px;
  color:#62b2b5;
  color: #808080;
}